<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="Joey.js"></script>
    <title>Joey's First Website</title>
</head>
<body>
<header>
    <h1>Moral Support Games</h1>
</header>
<section>
    <h2>Games Made by Joey Schlote</h2>

    <section>
        <button> Crazy Cube World</button>
        <button onclick="NickClick()"> Nick Clicker</button>
        <button>Joey's RPG</button>
    </section>
    <p>

    </p>
    Thanks for visiting!</section>
<footer>Joey Schlote</footer>

</body>
</html>